
footer {
background-color: rgb(8, 8, 8);
}

#contact, div {
  color: rgb(185, 136, 248);
}

.copy {
text-align: center;

}

.fa {
  color:rgb(229, 175, 250);
  background-color: rgb(3, 3, 3);
}